body {
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

button a {
    font-size: 15px;
}

button {
    margin: 0.5rem 1rem;
}


.p-pub_date {
    padding: 0 4em;
    color: grey;
}