{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% endblock %}

{% block title %}Résultat du sondage{% endblock %}

{% block main %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
        <ul>
        {% for choice_text, choice_votes, choice_percentage in question.get_choices %}
            <li>{{ choice_text }} -- {{ choice_votes }} vote{{ choice_votes|pluralize }} soit {{ choice_percentage | floatformat:1 }} %</li>
        {% endfor %}
        </ul>
</fieldset>

<button><a href="{% url 'polls:index' %}">Retour</a></button>

{% endblock main %}