<form action="{% url 'polls:poll' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <legend><h1>Ajouter une nouvelle question</h1></legend>
    <label for="question_text">Votre question :</label>
    <input type="text" name="question_text" id="question_text" placeholder="what else ?">

    <button type="submit">Enregistrer la question</button>
    </fieldset>
</form>

<a href="{% url 'polls:index' %}">Annuler</a>