<form method="post">
    {% csrf_token %}

    <fieldset>
        <legend><h1>Ajouter une nouvelle question</h1></legend>

        {% if form.errors %}
            <div style="color:red;">
                {{ form.errors }}
            </div>
        {% endif %}

        {# Champ question #}
        <div>
            {{ form.question_text.label_tag }}
            {{ form.question_text }}
        </div>

        <br>

        {# Gestion du formset #}
        {{ formset.management_form }}

        <label>Choix :</label>
        {% for choice_form in formset %}
            <div>
                {{ choice_form.choice_text }}
                {% if choice_form.errors %}
                    <div style="color:red;">
                        {{ choice_form.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <br>
        <button type="submit">Enregistrer la question</button>
    </fieldset>
</form>

<a href="{% url 'polls:index' %}">Annuler</a>